html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
  text-decoration: none;
  background-color: transparent;
}
