html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', 'sans-serif';
  background-color: $mainBlack;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainPink;
  text-decoration: none;
  background-color: transparent;
}
